# Puerto del servidor HTTP
PORT=3000

# Entorno de ejecución: development | production | test
NODE_ENV=development

# Cadena de conexión de MongoDB (no subir credenciales reales al repo)
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/?appName=Cluster0

# Nombre de la base de datos
MONGO_DB_NAME=${API_NAME}
